# Created by .ignore support plugin (hsz.mobi)
.idea
.target
.idea/artifacts/
.idea/compiler.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
log/
target/generated-sources/
target/generated-test-sources/
